h1, h2, p, #ham-menu div {
  font-family: 'Mitr', sans-serif;
  line-height: 1.2;
  /*border-style: solid;
  border-width: 1px;
  border-color: red;*/
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 200%;
  color: black;
  line-height: 140%;
}

section#sub-header {
  padding: 12px;
}

p {
  margin-bottom: 12px;
}

em {
  display: block;
  margin-left: 12px;
  font-weight: bold;
  color: darkcyan;
}

a:link {
  color: darkviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/*.template {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}*/