h1, h2, p, #ham-menu div {
  font-family: 'Mitr', sans-serif;
  line-height: 1.2;
  /*border-style: solid;
  border-width: 1px;
  border-color: red;*/
}

h1, h2 {
  text-align: center;
}



.icon {
  display: block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: black;
  fill: white;
  /*float: left;*/
  
}

header {
  background-color: black;
  overflow: hidden;
}

#header-menu-container {
  margin-bottom: 5.47008547008547%;
}

header h1 {
  font-size: 200%; /*48px*/
  font-weight: 300;
  /*display: block;
  float: left;*/
}

header div {
  /*border: 1px solid red;*/
  overflow: hidden;
  float: left;
}

header #header-left {
  margin-left: 4px;
}

header #header-right {
  /*margin-left: 17%;*/
  width: calc(100% - 40px);
}

#ham-button {
  user-select: none;
}

section#ham-menu {
  background-color: black;
  width: calc(100% - (100% - 320px))
}

#ham-menu div {
  color: darkviolet;
  font-size: 150%;
  text-transform: lowercase;
  letter-spacing: 4px;
}

h2 {
  font-size: 200%;
  color: black;
  line-height: 140%;
}

section#sub-header {
  padding: 12px;
}

p {
  margin-bottom: 12px;
}

em {
  display: block;
  margin-left: 12px;
  font-weight: bold;
  color: darkcyan;
}

a:link {
  color: darkviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}